@model Pasys.Web.Admin.UI.Models.MemberCardViewModel
@{
}

<h2>@ViewBag.Title </h2>
<p>@ViewBag.SubTitle</p>

@using (Html.BeginForm())
{
    <div class="panel panel-default">
        <div class="panel-body">
            @Html.EditorForModel()
        </div>
    </div>
    <div class="pull-right">
        <input type="submit" value="@Resources.LanguageResource.SaveButtonTitle" class="btn btn-primary" />
        <a href="@Url.Action("Index")" class="btn btn-default active" role="button">@Resources.LanguageResource.BackButtonTitle</a>
    </div>
}

