<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @this.WorkContext.GlobalConfig.SiteTitle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="@Url.AreaContent("~/Contents/jqgrid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.AreaContent("~/Contents/jqgrid/ui.jqgrid-bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.AreaContent("~/Contents/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Style", false)
    @RenderSection("PrepareScript", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(this.WorkContext.GlobalConfig.SiteTitle, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Action("GetBootStrapMenuHTML", "Home")
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />
    <footer id="copyright">
        <p>@this.WorkContext.GlobalConfig.SiteCopyRight</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src='@Url.AreaContent("~/Contents/jqgrid/grid.locale-ja.js")'></script>
    <script type="text/javascript" src='@Url.AreaContent("~/Contents/jqgrid/jquery.jqGrid.min.js")'></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script>
    $.jgrid.defaults.width = 780;
    $.jgrid.defaults.responsive = true;
    $.jgrid.defaults.styleUI = 'Bootstrap';
    </script>
    <script src='@Url.AreaContent("~/Contents/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")' type="text/javascript"></script>
    <script src='@Url.AreaContent("~/Contents/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.ja.js")' type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            initDateTime();
        });
        function initDateTime() {
            $(".form_date").datetimepicker({
                autoclose: true,
                startView: 2,
                minView: 2, 
                todayBtn: false,
                pickerPosition: "bottom-left",
                language: "ja",
            }).on('changeDate', function (ev) {
                //dateToJapanDate(ev.date);
            });

            $(".form_datetime").datetimepicker({
                autoclose: true,
                startView: 2,
                todayBtn: false,
                pickerPosition: "bottom-left",
                language: "ja",
            }).on('changeDate', function (ev) {
                //dateToJapanDate(ev.date);
            });

            $(".form_time").datetimepicker({
                autoclose: true,
                startView: 1,
                minView: 0,
                maxView: 1,
                todayBtn: false,
                pickerPosition: "bottom-left",
                language: "ja",
            }).on('changeDate', function (ev) {
                //dateToJapanDate(ev.date);
            });
        }
    </script>

    @RenderSection("Script", required: false)
    @RenderSection("scripts", required: false)


</body>
</html>
