@using Pasys.Web.Core.Controllers
@using Newtonsoft.Json
@model GridListViewModel
@{
    ViewBag.Title = ViewBag.ListTitle;
}

<h2>@ViewBag.ListTitle</h2>
<p>@ViewBag.ListSubTitle</p>
<nav class="navbar navbar-default navbar-breadcrumb" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-left">
                <a class="btn btn-primary" href='@Url.Action("Create")' role="button">@Resources.LanguageResource.CreateButtonTitle</a>
                <a class="btn btn-danger" id="btnDelete" role="button">@Resources.LanguageResource.DeleteButtonTitle</a>
            </form>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" name="SearchText" id="SearchText" value="@ViewBag.SearchText" placeholder="@Resources.LanguageResource.SearchTextBoxPlaceholder">
                </div>
                <button type="submit" class="btn btn-default">@Resources.LanguageResource.SearchButtonTitle</button>
            </form>

        </div>
    </div>
</nav>

<div id="gridContainer">
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>

@section Script{

    <script type="text/javascript">

        $(document).ready(function () {

            var jqDataUrl = '@Url.Action("LoadjqData", new { searchText = ViewBag.SearchText})';
            // Setup grid
            jQuery("#jqGrid").jqGrid({
                // Ajax related configurations
                url: jqDataUrl,
                datatype: "json",
                mtype: "GET",
                loadonce: true,
                //shrinkToFit: false,
                height: 'auto',
                autowidth: true,
                multiselect: true,//复选框
                rowNum: 10,
                rowList: [10, 20, 30],
                colNames: @JsonConvert.SerializeObject(Model.GetColNames()),
                colModel: [
                    @foreach (var col in Model.GetColModels())
                    {
                        @Html.Raw("{")
                        foreach (var kv in col) {
                            if (kv.Key == "formatter") {
                                @Html.Raw(string.Format("{0}:{1},", kv.Key, kv.Value))
                            }
                            else {
                                @Html.Raw(string.Format("{0}:{1},", kv.Key, JsonConvert.SerializeObject(kv.Value)))
                            }
                        }
                        @Html.Raw("},")
                    }
                ],
                pager: "#jqGridPager",
                gridComplete: function () {
                    $("#jqGrid").jqGrid("setFrozenColumns");
                    //$(".expandEnableTitle").click();
                },
                edit: false
            });
            // Set grid width to #content
            $("#btnDelete").bind("click", getSelecteds);

        });

        function jqGridEditButtons(cellvalue, options, rowObject)
        {
            var btns= new Array();
            btns.push('     <a href="#" class="btn btn-default active" role="button">编辑</a> ');
            btns.push('     <a href="#" class="btn btn-danger active" role="button">删除</a> ');
            var returnHTML = btns.join(' ');
            return returnHTML;
        }

        function getSelecteds() {
            //获取多选到的id集合
            var ids = $("#jqGrid").jqGrid("getGridParam", "selarrrow");
            //遍历访问这个集合
            $(ids).each(function (index, id) {
                //由id获得对应数据行
                var row = $("#jqGrid").jqGrid('getRowData', id);
                alert("row.ID:" + row.ID + "  " + "row.fieldName:" + row.fieldName);
            });
        }

        function jqGrid_NameEditLink(cellvalue, options, rowObject)
        {
            var btns= new Array();
            btns.push('     <a href="@Url.Action("Edit")'+ '?id='+options.rowId+'" >'+cellvalue +'</a> ');
            var returnHTML = btns.join(' ');
            return returnHTML;
        }

    </script>
}

