@using Pasys.Web.Core.Attributes;
@model object

@{
    SelectList selectList = null;
    var mataData = ViewData.ModelMetadata;
    var p = mataData.ContainerType.GetProperty(mataData.PropertyName);
    var dataSource = p.GetCustomAttributes(typeof(RadioButtonDataSourceAttributeBase), true).FirstOrDefault() as RadioButtonDataSourceAttributeBase;
    if (dataSource != null)
    {
        if (ViewData.ContainsKey(dataSource.ViewDataKey))
        {
            dataSource.SetDataSourceFromViewData(ViewData[dataSource.ViewDataKey]);
        }
        selectList = dataSource.GetData(Model);
    }

}

@if (selectList != null)
{
    foreach (var item in selectList)
    {
        var fieldId = ViewData.TemplateInfo.GetFullHtmlFieldId(item.Value);

        <div class="radio">
            <label>
                <input type="radio" name="@mataData.PropertyName" id="@fieldId" value="@item.Value" @(item.Selected ? "checked" : "")>
                @item.Text
            </label>
        </div>
    }
}